#back{
  height: 100px;
  width: 100%;
  background-color:  cyan;
  display: flex;
}
#f{
position: relative;
top: 50px;
left: 200px;   
}
#S{
  position: relative;
  top: 50px;
  left: 550px;   
 }
#T{
  position: relative;
  top: 50px;
  left:900px;   
 }